<main>
  <section>
    <app-product-list></app-product-list>
  </section>
  <section>
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Quantité</th>
          <th>Prix unitaire</th>
          <th>Total HT</th>
          <th>Suppression</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of service.fetchAllCart()">
          <td>{{ product.nom }}</td>
          <td>{{ product.quantite }}</td>
          <td>{{ product.prixHT }} €</td>
          <td>{{ product.prixHT * product.quantite }} €</td>
          <td>
            <button (click)="service.removeFromCard(product)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <h3>Total</h3>
      <p>Quantité: {{ service.getTotal() }}</p>
      <p>Prix HT: {{ service.getTotalPrice() }} €</p>
      <button (click)="service.removeAll()">Vider commande</button>
    </div>
  </section>
</main>
